
.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.subcontainer {
    width: 30px;
    height: 30px;
}

.subcontainer.red {
    background-color: red;
}
.subcontainer.green {
    background-color: green;
}
.subcontainer.blue {
    background-color: blue;
}